tests.py
test.ipynb
server.db
ml-sentence.csv
server/embeddings.npy
server/embeddings old 2.npy
server/embeddings old 1.npy
server/embeddings old 3.npy
server/sentences.csv
embeddings old.npy
.ipynb_checkpoints
server/wikipedia_en_20.csv
images/schema.drawio
metadata.txt
server/index_to_name.csv
server/sentences old 1.csv
.markdownlint.json